.people-list,
.contact-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 77vh;
}
.name {
  padding-top: 3px;
  font-weight: 600;
}
p.message {
  margin-top: 3px;
  font-size: 12px;
  color: dimgrey;
}
.text-muted {
  font-weight: 100;
  font-size: 11px;
}
.profileimage {
  text-align: center;
}
