.sideBar {
  background-image: url("../../assets/backSide.png");
  backdrop-filter: blur(5px);
  font-size: 17px;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
  }
  .icon,
  a:hover {
    color: #00afef;
  }
}
.item {
  width: 150px;
}
.tabs {
  background-color: #ffffff;
}
.item:hover {
  border-bottom: 5px solid #00afef;
}
