.dashboard {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10;
  padding-top: 0;
  z-index: 100;
  width: 100vw;
}
.imageBack {
  height: 550px;
  width: 680px;
  align-self: center;
  margin-inline-start: 200px;
}
.sideColumn {
  margin-top: 0;
  padding-top: 0;
}
