.dashboard {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10;
  padding-top: 0;
  z-index: 100;
  width: 100vw;
}
.imageBack {
  height: 500px;
  width: 520px;
  align-self: center;
  margin-inline-start: 250px;
  border-radius: 55%;
}
